body,html{
  height:100%;
}
.logo{
  width: 10%;
  margin-left:10rem;
}

.inline{
  display: -webkit-box;
  float: right;
}
.form{
  margin-left: 92.3rem;
  margin-top: 5px;
}
.box{
  width: 40%;
  border:solid 1px #000;
  height:30%;
}
